<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>excel</servlet-name>
    <servlet-class>excel</servlet-class>
  </servlet>
  <servlet>
    <description>excel</description>
    <display-name>excel</display-name>
    <servlet-name>exexl</servlet-name>
    <servlet-class>excel.exexl</servlet-class>
  </servlet>
  <servlet>
    <description>excel</description>
    <display-name>excel</display-name>
    <servlet-name>client</servlet-name>
    <servlet-class>com.excel.client.client</servlet-class>
  </servlet>
  <servlet>
    <description>excel</description>
    <display-name>excel</display-name>
    <servlet-name>Client</servlet-name>
    <servlet-class>com.excel.client.Client</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>excel</servlet-name>
    <url-pattern>/servlet/excel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>exexl</servlet-name>
    <url-pattern>/servlet/exexl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>client</servlet-name>
    <url-pattern>/servlet/client</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Client</servlet-name>
    <url-pattern>/servlet/Client</url-pattern>
  </servlet-mapping>

</web-app>